@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-base-50: #f1f2f3;
  --color-base-100: #e1e3e5;
  --color-base-200: #c3c7cb;
  --color-base-300: #a5abb1;
  --color-base-400: #899299;
  --color-base-500: #6c757d;
  --color-base-600: #575f65;
  --color-base-700: #40454a;
  --color-base-800: #2b2e31;
  --color-base-900: #151719;
  --color-base-950: #0c0d0e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--color-base-900);
  background: var(--color-base-100);
}
